configuration {
	modes: "drun,lutris:~/.config/awesome/config/apps/rofi/modes/lutris.sh,dev:~/.config/awesome/config/apps/rofi/modes/dev_launcher.sh";
	show-icons: true;

  kb-row-down: "Control+[44]";
  kb-row-up: "Control+[45]";
  kb-mode-previous: "Control+[43]";
  kb-mode-next: "Control+[46]";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "rounded-gray-dark"
